.image-slider {
  padding: 20px;
}
.image-slider .swiper-slide {
  padding-bottom: 55%;
  overflow: hidden;
  position: relative;
}
.image-slider .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.image-slider .swiper-button-prev {
   background-color:rgba(8,26,62,.15);
  color: white;
}
.image-slider .swiper-button-next {
  background-color:rgba(8,26,62,.15);
  color: white;

}

.image-slider-thumbs .swiper-slide {
  cursor: pointer;
  border-color: 1px solid #dddbdb;
  flex-shrink: 1;
}
.image-slider-thumbs .swiper-slide-thumb-active {
  border-color: #ff02f2;
}

.image-slider-thumbs .image-slider-thumbs-wrapper {
  width: 100%;
  padding-bottom: 73%;
  overflow: hidden;
  position: relative;
}
.image-slider-thumbs-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-slider-thumbs .swiper-button-prev {
  color: white;
  opacity: 1;
}
.image-slider-thumbs .swiper-button-next {
  color: white;
}
